<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>rblwatch.email</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/rblwatch.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
					<li {% if request.path == "/contact/" %}class="active"{% endif %}><a href="/contact/">Contact</a></li>
				</ul>
				<h3 class="text-muted">rblwatch.email</h3>
			</div>
			<div class="search jumbotron">
				<form role="form" class="form" action="/" method="POST">
					<div class="form-group {% if error %}has-error has-feedback{% endif %}">
						{% if error %}<label class="control-label" for="inputError2">{{ error }}</label>{% endif %}
						<input type="text" name="ip" class="form-control ip" id="ip" placeholder="Enter IP">
						{% if error %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="content">{% block content %}{% endblock %}</div>
			<div class="footer">&copy; Copyright 2014 by <a href="http://skylime.net">SkyLime GmbH</a></div>
		</div>
	</body>
</html>
