{% extends "base.html" %}

{% block content %}
<div class="row marketing">
<h3>Contact</h3>
<address>
	<h4><strong>SkyLime GmbH</strong></h4>
	Beim Krausbeck 3<br>
	88069 Tettnang, Germany
</address>
<ul class="list-unstyled">
	<li><i class="fa fa-phone fa-fw"></i>+49-7542-9492840</li>
	<li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@skylime.net">info@skylime.net</a></li>
</ul>
<ul class="list-unstyled">
	<li><i class="fa"></i>Commercial Register: Amtsgericht Ulm HRB 731080</li>
	<li><i class="fa"></i>Managing Directors: Thomas Merkel, Sebastian Wiedenroth</li>
	<li><i class="fa"></i>VAT-ID: DE 264209353</li>
</ul>
</div>
{% endblock %}
